node_modules/
dist/
.sentry-native/
data/
/server/modules/discord-config.json
.env
.env.*
!.env.example
server/modules/*/*.json
server/modules/*/*.sqlite
server/modules/file-library/documents/
server/modules/file-library/documents.json
*.log
*.tmp
/server/modules/assets/chat-backgrounds/images
/server/modules/assets/chat-backgrounds/previews
/server/modules/assets/chat-backgrounds/videos
/server/modules/assets/intiface/funscripts
/server/modules/assets/intiface/media
/server/modules/assets/intiface/playmodes
/server/modules/assets/voiceforge/bgm
/server/modules/assets/voiceforge/call-mode
/server/modules/assets/vrm/animations
/server/modules/assets/vrm/idles
/server/modules/assets/vrm/intiface
/server/modules/assets/vrm/models
